@model Frank.Brewery.Entities.Yeast

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Yeast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrewCategory" class="control-label"></label>
                <select asp-for="BrewCategory" class="form-control"></select>
                <span asp-validation-for="BrewCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholTolerance" class="control-label"></label>
                <select asp-for="AlcoholTolerance" class="form-control"></select>
                <span asp-validation-for="AlcoholTolerance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flocculation" class="control-label"></label>
                <select asp-for="Flocculation" class="form-control"></select>
                <span asp-validation-for="Flocculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
